{% extends 'base.html.twig' %}

{% block title %}Nouvelle série !{% endblock %}

{% block body %}

    <main class="container-md programNew" {{ stimulus_controller('actorlist') }}>
        <h1>Ajouter une nouvelle série !</h1>

        {{ include('program/_form.html.twig') }}

        <div class="d-flex justify-content-end mt-3">
            <a class="btn btn-primary" href="{{ path('program_index') }}">Retour à la liste des séries</a>
        </div>

    </main>

{% endblock %}
