@mixin formStyle {
  max-width: 900px;
}

.globalForm {

  @include formStyle;
  margin-top: 2rem;

  h1 {
    text-align: center;
    margin-bottom: 1rem;
  }

  form {
    color: black;
  }

  button {
    display: block;
    margin: auto;
  }
}