.programNew {
  legend {
    color: white;
  }

  .selected-actors-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
  }
  .btn-actor {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
    border: none;
    padding: 10px 20px;
    color: white;
    font-weight: 500;
    cursor: default;
    border-radius: 10px;
  }

  i {
    color: white;
    transition-duration: .3s;
    cursor: pointer;
  }
}