
// the ~ allows you to reference things in node_modules

@import "./variables";
@import "~bootstrap/scss/bootstrap";

@import "./navbar";
@import "./home.scss";
@import "./program.scss";


body {
    background-color: $secondary;
    color: $light;
}

nav {
    height: 8vh;
}
