
// the ~ allows you to reference things in node_modules

@import "./variables";
$secondary: #034747;
@import '../../vendor/twbs/bootstrap/scss/bootstrap';

@import "./navbar";
@import "./home.scss";
@import "./program.scss";

main {
    background-color: $secondary;
    color: $light;
}

nav {
    min-height: 8vh;
    color: yellow;
}
